@import "~bootstrap/scss/bootstrap";

#wrapper {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	font-size: calc(10px + 2vmin);
	font-family: arial, sans-serif;
	font-weight: 500;
}

@media screen and (max-width: 680px) {
	#quote-box {
		min-width: 80%;
	}
}
